# archivos csv que utilice para el primer EDA
/Datasets
# Documentacion de los primeros spring
/Documentacion
# csvs que utilice para el segundo EDA
/EDA_Final
# EDA preliminar
/EDA_Preliminar
# imagenes

# Archivos utilizados en google cloud
/Notebooks_ETL
# Archivos utilizados en google cloud machine learning
/Notebooks_ML





